---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>

    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>

    <div class="social-links">
      <a href="https://github.com/phucbtt" target="_blank">
        <span class="sr-only">GitHub</span>
        <svg viewBox="0 0 16 16" width="28" height="28" aria-hidden="true">
          <path
            fill="currentColor"
            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38
						0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13
						-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87
						2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95
						0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12
						0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27
						.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82
						.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15
						0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48
						0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38
						A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
          ></path>
        </svg>
      </a>

      <a href="https://www.linkedin.com/in/bttp/" target="_blank">
        <span class="sr-only">LinkedIn</span>
        <svg viewBox="0 0 24 24" width="28" height="28" aria-hidden="true">
          <path
            fill="currentColor"
            d="M20.45 20.45h-3.55v-5.56c0-1.33-.03-3.05-1.86-3.05
						-1.86 0-2.15 1.45-2.15 2.95v5.66H9.34V9h3.41v1.56h.05
						c.48-.9 1.66-1.86 3.42-1.86 3.66 0 4.34 2.41 4.34 5.54v6.21zM5.34
						7.43a2.06 2.06 0 1 1 0-4.12 2.06 2.06 0 0 1 0 4.12zM7.12
						20.45H3.56V9h3.56v11.45zM22.23 0H1.77C.79 0 0 .77 0
						1.72v20.56C0 23.23.79 24 1.77 24h20.45c.98 0
						1.78-.77 1.78-1.72V1.72C24 .77 23.21 0 22.23 0z"
          ></path>
        </svg>
      </a>
    </div>

    <button id="theme-toggle" aria-label="Toggle theme"> 🌙 </button>
  </nav>
  <script>
    const toggle = document.getElementById(
      "theme-toggle",
    ) as HTMLInputElement | null;
    const root = document.documentElement;

    if (toggle) {
      const savedTheme = localStorage.getItem("theme");

      if (savedTheme === "dark") {
        root.classList.add("dark");
        toggle.checked = true;
      } else if (savedTheme === "light") {
        root.classList.remove("dark");
        toggle.checked = false;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        root.classList.toggle("dark", prefersDark);
        toggle.checked = prefersDark;
      }

      toggle.addEventListener("change", () => {
        const isDark = toggle.checked;

        root.classList.toggle("dark", isDark);
        localStorage.setItem("theme", isDark ? "dark" : "light");
      });
    }
  </script>
</header>

<style>
  header {
    padding: 0 1.5em;
    background: var(--bg-main);
    border-bottom: 1px solid rgb(var(--border-color));
    position: sticky;
    top: 0;
    z-index: 100;
    transition:
      background 0.3s ease,
      border-color 0.3s ease;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    margin: 0;
    font-size: 1.1em;
    font-weight: 600;
  }

  h2 a {
    color: rgb(var(--black));
    text-decoration: none;
  }

  nav a {
    padding: 1em 0.6em;
    color: rgb(var(--black));
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: 0.2s ease;
  }

  nav a:hover {
    color: var(--accent);
  }

  nav a.active {
    border-bottom-color: var(--accent);
    color: var(--accent);
  }

  .internal-links {
    display: flex;
    gap: 0.5rem;
  }

  .social-links {
    display: flex;
    gap: 0.75rem;
  }

  .social-links a {
    display: flex;
    align-items: center;
    color: rgb(var(--gray));
    opacity: 0.8;
    transition: 0.2s ease;
  }

  .social-links a:hover {
    opacity: 1;
    color: var(--accent);
    transform: translateY(-2px);
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }

  /* button mode */
  #theme-toggle {
    background: none;
    border: 1px solid rgb(var(--border-color));
    padding: 0.4rem 0.7rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: rgb(var(--black));
    transition: 0.2s ease;
  }
  #theme-toggle:hover {
    background: var(--bg-soft);
  }
  nav {
    gap: 1rem;
  }
</style>
